<h1>Add new books</h1>
<form action="/add" method="POST">
    <div class="input-field">
      <input id="title" type="text" class="validate">
      <label for="title">Books model</label>
    </div>
    <div class="input-field">
      <input id="price" type="number" class="validate">
      <label for="price">Price</label>
    </div>
    <div class="input-field">
      <input id="img" type="text" class="validate">
      <label for="img">Url image</label>
    </div>
    <button class="btn #263238 blue-grey darken-4">Add books</button>
</form>